<a href="https://colab.research.google.com/github/juturpraveen/NLP/blob/master/Viterbi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import torch
import numpy as np
from __future__ import print_function
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

Initialize the model parameters

In [0]:
#Initial probabilities for hidden states (Healthy , Fever)
pie = np.array([0.6, 0.4]) 

#Emission probabilities of observations 
emi = np.array([[0.5, 0.1],
              [0.4, 0.3],
              [0.1, 0.6]])

#Transition probabilities
trans = np.array([[0.7, 0.3],
                [0.4, 0.6]])

#HMM hidden states set
states = {0:'Healthy', 1:'Fever'}

#Observations set
obs = {0:'normal', 1:'cold', 2:'dizzy'}

#Occurance of observations
obs_seq = np.array([0,0,1,2,2])

Convert the arrays into dataframes

In [0]:
df_pie = pd.DataFrame(pie, index=['Healthy','Fever'], columns=['prob'])

In [0]:
df_emi = pd.DataFrame(emi, index=['normal', 'cold', 'fever'], columns=['Healthy', 'Fever'])

In [0]:
df_trans = pd.DataFrame(trans, index=['fromHealthy', 'fromFever'], columns=['toHealthy', 'toFever'])

In [22]:
df_pie

         prob
Healthy   0.6
Fever     0.4

In [23]:
df_emi

        Healthy  Fever
normal      0.5    0.1
cold        0.4    0.3
fever       0.1    0.6

In [24]:
df_trans

             toHealthy  toFever
fromHealthy        0.7      0.3
fromFever          0.4      0.6